[build]
builder = "NIXPACKS"
buildCommand = "composer install --optimize-autoloader --no-dev && npm install && npm run build"

[deploy]
startCommand = "php artisan migrate --force && php artisan config:cache && php artisan route:cache && php -S 0.0.0.0:$PORT -t public"


[http]
port = 8080

[healthcheck]
port = 8080
path = "/"
timeout = 300
interval = "15s"
initialDelay = "10s"

[php]
version = "8.2"
extensions = ["gd", "bcmath", "pdo_mysql", "zip", "mbstring", "xml", "curl"]

[env]
NODE_ENV = "production"
APP_ENV = "production"
APP_DEBUG = "false"