/* // Define primero todas las variables
$primary: #7f4bf0 ;
$secondary: #64748b;
$success: #28a745;
$info: #006699;
$warning: #ffc107;
$danger: #dc3545;
$light: #cbd5e1;
$dark: #1e293b;

// Luego el mapa de colores
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);
 */